In [1]:
import numpy as np
import pandas as pd

from functions.preprocessing import Imputer

In [6]:
data = {
    'n1': [2, 2, 3, np.nan, 4, 2, 3, 1, np.nan, np.nan], # mean
    'n2': [2, 2, 3, np.nan, 4, 2, 3, 1, np.nan, np.nan], # median
    'n3': [2, 2, 3, np.nan, 4, 2, 3, 1, np.nan, np.nan], # most frequent
    'n4': [2, 2, 3, np.nan, 4, 2, 3, 1, np.nan, np.nan], # constant, fill_value = 10
    'n5': [2, 2, 3, -1, 4, 2, 3, 1, -1, -2],             # missing_values = -1
    's1': [np.nan, 'b', 'c', 'b', np.nan, 'e', np.nan, 'a', 'b', 'c'], # mean
    's2': [np.nan, 'b', 'c', 'b', np.nan, 'e', np.nan, 'a', 'b', 'c'], # median
    's3': [np.nan, 'b', 'c', 'b', np.nan, 'e', np.nan, 'a', 'b', 'c'], # most frequent
    's4': [np.nan, 'b', 'c', 'b', np.nan, 'e', np.nan, 'a', 'b', 'c'], # constant, fill_value = 'x'
    's5': [np.nan, 'b', 'c', 'b', np.nan, 'e', np.nan, 'a', 'b', 'c'], # add_indicator = True
    'g1': [1, 2, 1, 2, 1, 3, 2, 1, 0, 2]
}

data_new = {
    'n1': [2, np.nan, 3, 3, np.nan],
    's5': ['c', np.nan, 'c', 'c', np.nan]
}

options = {
    'n1': {'strategy': 'mean'},
    'n2': {'strategy': 'median'},
    'n3': {'strategy': 'most_frequent'},
    'n4': {'strategy': 'constant', 'fill_value': 10},
    'n5': {'strategy': 'mean', 'missing_values': -1},
    's1': {'strategy': 'constant', 'fill_value': 'fill'},
    's3': {'strategy': 'most_frequent'},
    's4': {'strategy': 'constant', 'fill_value': 'x'},
    's5': {'strategy': 'most_frequent', 'add_indicator': True},
}

df = pd.DataFrame(data=data)
df_new = pd.DataFrame(data=data_new)

In [7]:
imp = Imputer(options=options)

imp.fit(df)
imp.save_options('options.json')

df_imputed = imp.transform(df)
df_imputed

         n1   n2   n3    n4     n5    s1   s2 s3 s4 s5  g1  s5_missing
0  2.000000  2.0  2.0   2.0  2.000  fill  NaN  b  x  b   1           1
1  2.000000  2.0  2.0   2.0  2.000     b    b  b  b  b   2           0
2  3.000000  3.0  3.0   3.0  3.000     c    c  c  c  c   1           0
3  2.428571  2.0  2.0  10.0  1.875     b    b  b  b  b   2           0
4  4.000000  4.0  4.0   4.0  4.000  fill  NaN  b  x  b   1           1
5  2.000000  2.0  2.0   2.0  2.000     e    e  e  e  e   3           0
6  3.000000  3.0  3.0   3.0  3.000  fill  NaN  b  x  b   2           1
7  1.000000  1.0  1.0   1.0  1.000     a    a  a  a  a   1           0
8  2.428571  2.0  2.0  10.0  1.875     b    b  b  b  b   0           0
9  2.428571  2.0  2.0  10.0 -2.000     c    c  c  c  c   2           0

In [8]:
imp = Imputer.from_options_file('options.json')
imp.transform(df_new)

         n1 s5  s5_missing
0  2.000000  c           0
1  2.428571  b           1
2  3.000000  c           0
3  3.000000  c           0
4  2.428571  b           1